<!DOCTYPE html>
<html>
  <head>
    <title>Billing Table Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Billing Table Data</h1>
    <form action="/filter" method="post">
      <input type="text" name="column1_filter" placeholder="Filter by AWS Account">
      <input type="text" name="column2_filter" placeholder="Filter by AWS Service">
      <button type="submit">Filter</button>
    </form>
    <form action="/total_cost_per_account" method="post">
        <input type="text" name="aws_account_filter" placeholder="Total by AWS Account">
        <button type="submit">Total</button>
        </form>    
    <table>
      <tr>
        <th>AWS Account</th>
        <th>AWS Service</th>
        <th>Start Date</th>
        <th>En              d Date</th>
        <th>Cost($)</th>
        <!-- Add more columns as needed -->
      </tr>
      {% for item in items %}
      <tr>
        <td>{{ item.aws_account_name }}</td>
        <td>{{ item.aws_service }}</td>
        <td>{{ item.start_date }}</td>
        <td>{{ item.end_date }}</td>
        <td>{{ item.cost }}</td>
        <!-- Add more columns as needed -->
      </tr>
      {% endfor %}
    </table>
  </body>
</html>